<ion-header>
  <ion-toolbar>
    <ion-title>add-new-user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <!-- <form [formGroup]="userForm" (submit)="saveUser()">
            <ion-item>
            <ion-label position="floating">הכנס מספר טלפון</ion-label>
                <ion-input type="number" formControlName="phone" id="phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">הכנס מספר רכב</ion-label>
                <ion-input type="number" formControlName="carNumber" id="carNumber"></ion-input>
            </ion-item>          
            <ion-input ></ion-input>
            <button type="submit" [disabled]="!userForm.valid">Submit</button>
          </form>
          
          <button  (click)="edit()">יציאה</button> -->
</ion-content>
